.index_body { /* Index */
  display: flex;
  flex-direction: column;
  height: 98vh;
  margin: 0;
  background-color: rgb(72, 72, 213);
}

.index_container { /* Index */
  display: block;
  flex-direction: column;
  justify-content: center;
  background-color: blue;
  text-align: center;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  color: #ebdcdc;
}

.instrucciones_container { /*instructions*/
  width: 90%;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
}

.sp_container {
  display: flex;
  margin: 0 auto;
}

.body-container { /* principal */
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 98vh;
  position: absolute;    
  background: rgba(220, 215, 206, 0.65);
}

.container-background { /* Para la imagen de fondo de principal */
  background-image: url("../img/login.png");
  height: 100vh;
  background-position: center center;  
  background-size: cover;
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Opción para que la imagen permanezca fija al desplazarse */
}

.over_image { /* Para el contenedor arriba de la imagen*/
  position: absolute;  
  width: 40rem;   
  background: rgba(220, 215, 206, 0.65);  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  color: rgb(0, 0, 0); 
  font-size: medium;  
  font-weight: bold;  
}
 
.card_over_image { /* Para el contenedor arriba de la imagen*/
  position: absolute;  
  width: 40rem;     
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -55%);
  color: rgb(0, 0, 0); 
  font-size: medium;  
  font-weight: bold;  
}

.bg-gradient-primary {    /*color de fondo del menú */
  background-color: #0c69f3;
  background-image: linear-gradient(180deg, #1b4886 10%, #085bff 100%);
  background-size: cover;  
}

.height-fixed {
  height: 33rem;
  overflow: scroll;
}
  
.scrollbar {
  overflow: scroll;
}

.pointed {
  cursor: pointer;
}

.maxSize {
  width: max-content;
}

.w-90 {
  width: 90%;
}

#modo_seleccion {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

#preloader {
  background:#000; 
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-register-image {
  background: url("../img/register.png");
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
}

.bg-login-image {
  background: url("../img/login.png");
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
}

.bg-fondo-image {  
  height: 100%;      
  background-position: top;
  background-size:cover;  
}

.card70 {
  width: 70%;
  margin: 0 auto;
}

.mensaje {
  color: #dbc6c6;
}

.container {
  display: flex;
  flex-direction: column;
}

.part {
  width: 70%;
  height: 98vh;
}

#center {
  display: none;
}

.card {
  width: 95%;
  margin: 0 auto;
  border: 0.5rem solid rgb(42, 119, 80);
  padding: 3px;
  border-radius: 1rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  font-size: small;
  min-height: 90%;
  max-height: 90%;
  overflow: auto;
}

.card.red {
  background-color: #eb3232;
}

.card.blue {
  background-color: #3782f3;
}

.card.green {
  background-color: #34f076;
}

.card.yellow {
  background-color: #f4cc3b;
}

.card img {
  width: 80%;
  max-width: 35vh;
  max-height: 35vh;
  aspect-ratio: 1/1;
  display: block;
  margin: 0 auto;
  border: 0.1rem solid rgb(111, 202, 209);
}

.card-decks {
  display: flex;
  justify-content: space-around;
}

.deck {
  width: 16%;
}

.card-count {
  position: relative;  
  bottom: 11%;
  right: -45%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 5px;
  display: block;
  width: 30px;
  text-align: center;
}

.perfil {
  height: 95%;
  width: 90%;
  border: 0.3rem solid rgb(172, 105, 50);
  background-color: rgb(229, 151, 77);
  padding: 1px;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.perfil img {  
  display: block;
  margin: 0 auto;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(242, 207, 124);
}

.contextos {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  border: 0.5rem solid rgb(162, 46, 17);
  background-color: rgb(215, 118, 0);
  padding: 3px;
  border-radius: 1rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.contextos img {
  width: 95%;
  padding: 3px;
  display: block;
  margin: 0 auto;
}

#tablero {
  position: relative;
  height: 80%;
}

#dado {
  width: 20%;
  height: 15%;
}

#ficha {
  position: absolute;
  width: 15rem;
  height: 20rem;
  left: 30vw;
  top: 24vh;
}

.centrado {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.hidden {
  display: none;
}

.margen {
  margin: 30px 5px;
}

.key {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);  
}

.key:hover {
  background-color: #ea8282;
}

.key:active {
  background-color: #de1414;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.determinacion {
  width: 15%;
  border: 0.1rem solid #000;
  background: #222;
  color: #FFF;
}

.apoyo {
  width: 15%;
  border: 0.1rem solid #FFF;
  background: #EEE;
  color: #000;
}

.alegria {
  width: 15%;
  border: 0.1rem solid #f6be05;
  background: #e4d905;
  color: #000;
}

.salud {
  width: 15%;
  border: 0.1rem solid #ff0e01;
  background: #d31905;
  color: #ffffff;
}

.tiempo {
  width: 15%;
  border: 0.1rem solid #0901ff;
  background: #2610e9;
  color: #ffffff;
}

.dinero {
  width: 15%;
  border: 0.1rem solid #02730f;
  background: #028311;
  color: #000000;
}

.personaje {
  width: 75%;
  height: 75%;
  margin: 0 auto;
  border: 0.1rem solid rgb(162, 46, 17);
  background-color: rgb(215, 118, 0);
  padding: 1px;
  padding-bottom: 3%;
  border-radius: 1rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#contenedor_personaje {  
  position: relative;
  height: 55%;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  border: 0.1rem solid rgb(162, 46, 17);
  background-color: rgb(215, 118, 0);
  padding: 1px;
  border-radius: 1rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#fotoPersonaje, #fotoPersonaje-nueva {
  position: absolute;
  top: 0;
  left: 0;
}

#select_player {
  width: 30%;  
  height: 80vh;  
  max-height: 50vw;
  padding-right: 2%;
  font-size: 3vh;
}

#sel_personaje {
  width: 85%;  
  max-width: 45vh;
}


#logo {
  width: 90%;
  height: 50%;
  margin: 0 auto;
  border: 0.1rem solid rgb(162, 46, 17);
  background-color: rgb(215, 118, 0);
  padding: 1px;
  border-radius: 1rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#tabla_barras {
  width: 90%;
}

.tabla_barras {
  width: 100%;
}

.tabla_barras td {
  width: 45%; /* Asegura que la celda ocupa todo el ancho disponible */
}

.tabla_barras progress {
  width: 100%; /* Ajusta al 80% del ancho de la celda */
  max-width: 600px; /* Establece un ancho máximo */
  min-width: 25px; /* Establece un ancho mínimo */
}


progress {
  width: 100%;
  block-size: 0.6em;
  inline-size: 5em;
  vertical-align: -0.1em;
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
}

progress-bar {
  background-color: rgb(105, 116, 250);
}

progress[value]::-webkit-progress-bar {
  background-color: rgb(105, 116, 250);
}

progress[value]::-moz-progress-bar {
  background-color: rgb(105, 116, 250);
}

progress.red::-webkit-progress-value {
  background-color: red;
}

progress.red::-moz-progress-bar {
  background-color: red;
}

progress.yellow::-webkit-progress-value {
  background-color: yellow;
}

progress.yellow::-moz-progress-bar {
  background-color: yellow;
}

progress.green::-webkit-progress-value {
  background-color: green;
}

progress.green::-moz-progress-bar {
  background-color: green;
}

.transition {
  transition: opacity 1s ease;
}

.modal {
  display: none;
  color: #ddd;
  position: fixed;
  background-color: #0c69f3;
  padding: 3px;
  border-radius: 1rem;
  width: 50%; /* Puedes ajustar este valor según tus necesidades */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.nombre {
  font-size: 2rem;
  font-style: bold;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

#diceModal {
  width: 20rem;
  height: 20rem;
}

.dado {
  width: 10rem;
  height: 10rem;
}

#letreroImagen {
  position: absolute; /* Posicionamiento absoluto dentro del contenedor relativo */
  top: 10px; /* Posición desde la parte superior del contenedor (ajústalo según necesites) */
  left: 10px; /* Posición desde la izquierda del contenedor (ajústalo según necesites) */
  background-color: rgba(255, 255, 255, 0.7); /* Fondo semitransparente (opcional) */
  color: #0c69f3;
  padding: 5px; /* Espaciado interno (opcional) */
  font-size: 1rem; /* Tamaño de fuente (ajústalo según necesites) */
  z-index: 2; /* Asegura que el letrero aparezca sobre las imágenes */
}

#user_stats {
  position: absolute;
  padding: 5px;
  height: 55vh;
  width: 40%;
  max-width: 52vh;
  z-index: 1;
}

.card20 {
  width: 96%;
  margin: 0 auto;
  border: 0.5rem solid rgb(42, 119, 80);
  padding: 3px;
  border-radius: 1rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .part {
    width: 100%;
  }

  .sp_container {
    display: block;
    margin: 0 auto;
  }

  #select_player {
    width: 90%;
    height: 50vh;
    max-height: 50vh;
    font-size: 1rem;
  }

  #sel_personaje {    
    width: 85%;  
    max-width: 30vh;
  }

  #user_stats {
    width: 95%;
    height: 65vh;
  }

  .perfil {
    width: 95%;
  }

  #contenedor_personaje {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .part {
    width: 70%;
  }
}
