:root{
    --color:white;
    --background: green;
}
.wrapper{
    max-width: 700px;
    margin: 0 auto;
    display: block;
}
.elements{
    display: flex;
    flex-wrap: wrap;
}
.element{
    flex-grow: 1;
    width: 20%;
    height: 3rem;
    margin: 0.3rem; 
    color: var(--color);
    background-color: var(--background);
    line-height: 3rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.btn{
    color: var(--color);
    background-color: var(--background);
    border-color: var(--background);
    border-width: 1px;
    border-style: solid;
    padding: 4px 6px;
    font-size: 1rem;
    line-height: 22px;
    cursor: pointer;
}
.green{
    background-color: green;
    border-color: green;
}  
.gray{
    background-color: gray;
    border-color: gray;
} 
.hidden{
    display: none;
}
.green-color{
    color: green
}
#refresh {
    padding: 3px 4px;
    cursor: pointer;
    margin: 5px auto;
    display: block;
}